@media (min-width: 576px) {
    .container {
      max-width: 540px;
      margin: 0px auto;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      margin: 0px auto;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
      margin: 0px auto;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
      margin: 0px auto;
    }
    .container.container2 {
      max-width: 1290px;
    }
  }
  @media (min-width: 992px) {
    .menu-type-product-nav .owl-stage-outer .owl-stage .owl-item{
        width: auto !important;
    }
  }
@media (max-width: 992px){
    
    .navbar-icon{
        display: inline-block;
    }
    .navbar{
        /* display: none; */
        width: 50%;
    }
    .navbar-top .nav-icon-phone,.nav-phone-number, .nav-hotline, .nav-icon, .search{
        display: none;
    }
    .menu{
        width: 0;
        position: fixed;
        background: white;
        left: 0;
        bottom: 0;
        top: 97px;
        height: 100%;
        z-index: 999;
        text-align: center;
        transition: 0.5s;
        overflow-x: hidden;
        box-shadow: 5px 0px 5px #dedede;
    }
    .change .menu{
        width: 40%;
    }
    .navbar-bottom .menu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navbar-bottom .menu a{
        display: block;
        margin-top: 10px;
        box-shadow: 0px 5px 5px #dedede;
        width: 100%;
        padding-bottom: 5px;
    }
}
@media (max-width: 768px) {
    .product-item{
        width: 90% !important;
        height: 300px;
    }
    .introduction-box-top{
        
        flex-direction: column;
    }
    .introduction-box-bottom{
        flex-direction: column;
        
    }
    .introduction-content-top{
        padding: 0;
        margin-bottom: 10px;
    }
    .introduction-content-bottom{
        padding: 0;
        margin-bottom: 10px;
    }
  }
@media (max-width: 576px) {
    .footer-top{
        flex-direction: column;
        margin-left: 10px;
    }
    .footer-top-row{
        position: relative;
        margin-bottom: 10px;
    }
    .change .menu{
        width: 100%;
    }
    .project-item-img{
        width: 90%;
    }
    .project-item-info{
        width: 90%;
    }
}
@media (max-width: 1200px) {
    .project-item{
        /* width: 25%; */
        object-fit: fill;
    }
}
@media (max-width: 992px) {
    .project-list{
        width: 100%;
        flex-wrap: wrap;
    }
    .project-item{
        margin: 20px;
        object-fit: fill;
    }
    .product-item{
        width: 45%;
    }
}
@media (max-width: 1200px) {
    .news-item-img{
        width: 80%;
    }
}
@media (max-width: 992px) {
    .news-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .news-item-hot-img{
        width: 100%;
    }
    .news-list-left{
        width: 100%;
    }
    .news-list-right{
        width: 100%;
        margin-top: 15px;
        padding: 0;
    }
  }
  @media (max-width: 768px) {
    .project-item{
        width: 100% !important;
        height: 300px;
    }
    .project-item-img{
        width: 80%;
        margin: auto;
    }
    .project-item-info{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .menu-type-product{
        margin-bottom: 10px;
    }
    .introduction-box-bottom{
        margin-top: 10px;
    }
    .footer-bottom{
        flex-direction: column;
        padding-top: 10px;
    }
    .footer-top-row{
        width: 50%;
    }
    .footer-top{
        flex-wrap: wrap;
    }
    #sync1.owl-theme .owl-next{
        display: none;
    }
    #sync1.owl-theme .owl-prev{
        display: none;
    }
  }